
body{
    font-family: 'Libre Franklin', sans-serif;
}

h1{
    color:rgb(32, 172, 50);
    text-align: left;
    padding-top: 40px;


}

h2{
    color:rgb(44, 27, 27);
}
section{
    display:flex;
}
img{
    border-radius: 5%;
}
.half{
    width:50%;
    padding:20px;
}
button{
    width:60px;
    height:40px;
    background-color: blue;
    text-color: aliceblue;
}